%link{href: "/assets/stylesheets/books.css", rel: "stylesheet", type: "text/css"}/

.wrapper
  %h1 Edit a book
  #content
    %form#edit_book.edit_book{ action: "/books/update", method: "post", accept: { charset: "UTF-8" } }
      %input{ type: 'hidden', name: '_method', value: 'patch' }

      %input{ type: 'hidden', name: 'id', value: "#{ @book.id }" }

      %label{ for: "book_title" } Title
      %input.text_input#book_title{ name: "book[title]", type: "text", autocomplete: 'off', value: "#{ @book.title }" }
      %br/
      %label{ for: "book_url" } URL
      %input.text_input#book_url{ name: "book[url]", type: "url", value: "#{ @book.url }" }
      %br/
      %label{ for: "book_comment" } Comment
      %textarea#book_comment{ name: "book[comment]", type: "text", rows: 7, cols: 30 }= @book.comment
      %br/
      %input.btn{ type: "submit", value: "Update book" }

%footer
  %a#bottom_left{ href: "/" } Home
  %a#bottom_right{ href: "/books" } Books
  %a#top_right{ href: "/books/view" } View
