.card_wrapper
  #wrapper
    - @books.each do |book|
      .container
        .card
          .front.face
            %img.book{ src: "#{book.url}" }
          .back.face
            %h3= book.title
            %p.comment= book.comment

%a#bottom_left{ href: "/" } Home
