%link{href: "/assets/stylesheets/view.css", rel: "stylesheet", type: "text/css"}/
#header
#wrapper
  %table.table
    %thead
      %tr
        %th Title
        %th URL
        %th Comment
        %th
    %tbody
      - @books.each do |book|
        %tr
          %td= book.title
          %td= book.url
          %td= book.comment
          %td
            %a{ href: "/books/edit/#{ book.id }" } Edit

%footer
  %a#home{ href: "/" } Home
  %a#books{ href: "/books" } Books
  %a#new{ href: "/books/new" } New
