#body {
  background-image: url("../images/norvella.jpg");
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 20px;
  color: #e2e2e2;
}

#bottom_left, #top_right, #bottom_right {
  background: #191c24;
  position: fixed;
  line-height: 20px;
  padding: 10px 20px;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 5px;
  opacity: 0.6;
  color: #e2e2e2;
  z-index: 3;
  text-align: center;
}

#bottom_left:hover, #top_right:hover, #bottom_right:hover { opacity: 0.8; }

#top_right {
  bottom: 60px;
  right: 30px;
  width: 44px;
}

#bottom_left {
  bottom: 10px;
  left: 25px;
}

#bottom_right {
  bottom: 10px;
  right: 30px;
}
