#header {
  background: #ebebeb;
  border-right: 1px solid #414141;
  border-left: 1px solid #414141;
  position: relative;
  width: 1202px;
  min-height: 60px;
  margin: -10px auto;
}

#body {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  background-size: 82%;
}

#wrapper {
  min-height: 1000px;
  background: #ebebeb;
  border-right: 1px solid #414141;
  border-left: 1px solid #414141;
  position: relative;
  width: 1202px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.container {
  float: left;
  width: 220px;
  margin: 10px;
  z-index: 1;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
}

.book, .back, .shadow {
  border-radius: 10px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.4s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 0.4s linear;
}

.container:hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: #eeeeee;
  text-align: center;
  border: 1px solid #eeeeee;
  background: #414141;
  -webkit-overflow: scroll;
  -moz-overflow: hidden;
}

.comment {
  text-align: left;
}


#content {
  margin: 0
  padding-right: 40px;
}

h1 {
  background: #ebebeb;
  margin: 0 auto;
  margin-bottom: 20px;
}

form, h1 {
  color: #414141;
  padding-left: 40px;
}

label {
  width: 200px;
  min-width: 200px;
}

.text_input {
  position: relative;
  width: 400px;
}

textarea {
  width: 400px;
}
