#wrapper {
  position: relative;
  width: 1202px;
}
.container {
  width: 240px;
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.5s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 0.5s linear;
}

.container:hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}
