#body {
  background-image: url("../images/norvella.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 20px;
  color: #e2e2e2;
}

#header {
  width: 1200px;
  margin: 0 auto;
  min-height: 50px;
}

#title {
  margin-left: 500px;
  font-size: 42px;
  line-height: 60px;
  padding-left: 40px;
  color: #c18c28;
  font-weight: bold;
}

#sections {
  width: 1002px;
  margin: 0 auto;
  min-height: 600px;
}

#contact {
  padding-top: 175px;
  margin-left: 750px;
  width: 250px;
  min-height: 300px;
}

#contact > p, ul, li {
  margin-left: 5px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

a {
  color: #e2e2e2;
  text-decoration: none;
  font-style: italic;
}

a:hover {
 color: #b3b3b3;
}

#main {
  text-align: right;
  float: left;
  min-height: 350px;
  width: 730px;
  border-right: 1px solid #e2e2e2;
}

#main > p {
  padding: 10px;
}

#footer {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

#mobile {
  display: none;
}

