.wrapper {
  position: fixed;
  width: 100%;
}

#title {
  z-index: 3;
  position: absolute;
  font-size: 42px;
  line-height: 60px;
  color: #c18c28;
  font-weight: bold;
  right: 265px;
}

.main_wrapper {
  position: absolute;
  right: 10%;
  top: 90px;
  min-width: 600px;
  max-width: 800px;
}

#main {
  border-right: 1px solid #e2e2e2;
  text-align: right;
  padding-right: 20px;
  padding-top: 15%;
  margin-right: 240px;
  min-height: 400px;
}

#contact {
  position: absolute;
  top: 40%;
  right: 80px;
}

footer {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

a {
  color: #e2e2e2;
  text-decoration: none;
  font-style: italic;
}

#reading {
  font-weight: bold;
  font-style: normal;
  color: #eeeeee;
}

#reading:hover, a:hover {
  color: #b3b3b3;
}
