!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Trevor John | Books
    %link{href: "assets/stylesheets/application.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/stylesheets/books.css", rel: "stylesheet", type: "text/css"}/
    %script{ src: "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" }
    %script{ src: "assets/javascripts/masonry.js" }
    %script{ src: "assets/javascripts/books.js" }

    %link{href: "http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700", rel: "stylesheet", type: "text/css"}/
    %meta{content: "width=device-width, initial-scale=.67, user-scalable=no", name: "viewport"}/
  %body#body
    #wrapper
      .container
        .card.shadow
          .front.face
            %img.book{ src: 'https://s3.amazonaws.com/tjohn/the_great_hunt.jpg' }
          .back.face
            %p The Great Hunt
      .container
        .card.shadow
          .front.face
            %img.book{ src: 'https://s3.amazonaws.com/tjohn/moonwalking_with_einstein.jpg' }
          .back.face
            %p Moonwalking with Einstein
      .container
        .card.shadow
          .front.face
            %img.book{ src: 'https://s3.amazonaws.com/tjohn/the_eye_of_the_world.jpg' }
          .back.face
            %p The Eye of the World
      .container
        .card.shadow
          .front.face
            %img.book{ src: 'https://s3.amazonaws.com/tjohn/hitchhickers_guide_to_the_galaxy.jpg' }
          .back.face
            %p Hitchhikers Guide to the Galaxy
      .container
        .card.shadow
          .front.face
            %img.book{ src: 'https://s3.amazonaws.com/tjohn/a_game_of_thrones.jpg' }
          .back.face
            %p A Game of Thrones
      .container
        .card.shadow
          .front.face
            %img.book{ src: 'https://s3.amazonaws.com/tjohn/surely_youre_joking_mr_eynman.jpeg' }
          .back.face
            %p Surely You're Joking, Mr. Feynmen
  %footer
    %a#home{ href: "/" } Home
