%link{href: "assets/stylesheets/books.css", rel: "stylesheet", type: "text/css"}/
#header
#wrapper
  - @books.each do |book|
    .container
      .card.shadow
        .front.face
          %img.book{ src: "#{book.url}" }
        .back.face
          %h3= book.title
          %p.comment= book.comment


%footer
%a#home{ href: "/" } Home
