%link{href: "assets/stylesheets/main.css", rel: "stylesheet", type: "text/css"}/
.wrapper
  #screen
    %header#header
      %h1#title Trevor John
    #sections
      #main
        %p#main-text
          Trevor was born in Detroit and now lives in
          %br/
          Medford, Ma. He is currently a student at Tufts
          %br/
          University, studying both computer science and civil
          %br/
          engineering. His goals are to design and build innovative
          %br/
          products or tools, either in the digital or the physical world.
          %br/
          After graduating from Tufts, he will be joining Pivotal
          %br/
          Labs in New York. He is an avid hockey and soccer
          %br/
          fan and enjoys
          %a{ href: '/books', id: "reading" } reading
          in his spare time.
      #contact
        %h3 Contact me
        %ul
          %li
            %a{href: "http://github.com/tjohn", target: "_blank"} Github
          %li
            %a{href: "http://twitter.com/trevorrjohn", target: "_blank"} @trevorrjohn
          %li
            %a{href: "http://linkedin.com/in/trevorjohn", target: "_blank"} Linkedin
          %li
            %a{href: "mailto:trevor@john.tj", target: "_blank"} Email

    %footer#footer
      %a{href: "http://en.wikipedia.org/wiki/Norval_Morrisseau", target: "_blank"} Find out about the artist
