.wrapper
  .main_wrapper
    %h1#title Trevor John
    %p#main
      I was born in Detroit and now live in
      Brooklyn, NY. I am currently working at
      %a{ href: 'https://draft.com' } DRAFT
      , a fantasy sports company. Previously, I worked at
      %a{ href: 'https://pivotallabs.com' } Pivotal Labs
      \.
      %br
      %br
      When not on a computer I enjoy riding my bike, cooking, playing soccer, and watching hockey. I also enjoy
      %a{ href: '/books', id: "reading" } reading
      in in spare time.
    #contact
      %h3 Contact me
      %ul
        %li
          %a{ href: "http://github.com/trevorrjohn", target: "_blank" } Github
        %li
          %a{ href: "http://twitter.com/trevorrjohn", target: "_blank" } @trevorrjohn
        %li
          %a{ href: "http://linkedin.com/in/trevorjohn", target: "_blank" } Linkedin
        %li
          %a{ href: "mailto:trevor@john.tj", target: "_blank" } Email

%footer#footer
  %a{ href: "http://en.wikipedia.org/wiki/Norval_Morrisseau", target: "_blank" } Find out about the artist
