.wrapper
  .main_wrapper
    %h1#title Trevor John
    %p#main
      Trevor was born in Detroit and now lives in
      Brooklyn, NY. He is now working for
      %a{ href: 'http://pivotallabs.com', target: '_blank' } Pivotal Labs
      \. He is an avid hockey and soccer fan and enjoys
      %a{ href: '/books', id: "reading" } reading
      in his spare time.
    #contact
      %h3 Contact me
      %ul
        %li
          %a{ href: "http://github.com/tjohn", target: "_blank" } Github
        %li
          %a{ href: "http://twitter.com/trevorrjohn", target: "_blank" } @trevorrjohn
        %li
          %a{ href: "http://linkedin.com/in/trevorjohn", target: "_blank" } Linkedin
        %li
          %a{ href: "mailto:trevor@john.tj", target: "_blank" } Email

%footer#footer
  %a{ href: "http://en.wikipedia.org/wiki/Norval_Morrisseau", target: "_blank" } Find out about the artist
