.container
  %h1 Welcome

  %div#canvas
    %h4{ id: 'help', 'data-original-title' => 'Drag around the object'}
      Need help?
    %div{ id: 'github', class: 'drop drop-github' }
    %div{ id: 'twitter', class: 'drop drop-twitter' }
    %div{ id: 'linkedin', class: 'drop drop-linkedin' }

    %div{ id: 'drag-box', class: 'drag-box' }
      = link_to '<h3>Github</h3>'.html_safe, 'http://www.github.com/tjohn', id: 'github-drag-link', display: 'none', target: "_blank"
      = link_to '<h3>Twitter</h3>'.html_safe, 'http://www.twitter.com/trevorrjohn', id: 'twitter-drag-link', display: 'none', target: "_blank"
      = link_to '<h3>Linkedin</h3>'.html_safe, 'http://www.linkedin.com/in/trevorjohn', id: 'linkedin-drag-link', display: 'none', target: "_blank"
