.pane#left
  %h3 Contact Info
  = mail_to "trevor@trevorjohn.me", "Email", target: "blank"
  = link_to "Twitter", "http://www.twitter.com/trevorrjohn", target: "blank"
  = link_to "Linkedin", "http://www.linkedin.com/in/trevorjohn", target: "blank"
  = link_to "Github", "github.com/tjohn"

.slider#red
  %h2 Trevor John

.slider#orange

.slider#base

