.pane#left
  %h3 Contact Info
  #info
    = mail_to "trevor@john.tj", "Email", target: "blank", id: "email"
    = link_to "Twitter", "http://www.twitter.com/trevorrjohn", target: "blank", id: "twitter"
    = link_to "Linkedin", "http://www.linkedin.com/in/trevorjohn", target: "blank", id: "linkedin"
    = link_to "Github", "http://www.github.com/tjohn", target: "blank", id: "github"

.slider#red
  %h2 Trevor John

.slider#orange

.slider#base

