$base: #FAFAC6
$baseHover: #F6F6C3
$orange: #FF4411
$orangeHover: #FE4310
$red: #D40015
$redHover: #DA0015
$redActive: #B00010
$lightGray: #BAC0AC
$gray: #98A89E

body
  background-color: $gray
  padding: 0
  margin: 0
  height: 100px


  .slider
    position: absolute
    top: 0
    height: inherit
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
    -moz-border-radius: 1px 1px 1px rgba(0,0,0,0.5)
    border: 1px 1px 1px rgba(0,0,0,0.5)
    border-radius: 6px

  h2, a, h3
    color: white
    font-family: 'Helvetica', 'Ariel', 'sans-serif'
    margin-left: 10px

  a
    color: $base
    font-size: 18px
    text-decoration: none

    &:hover
      font-weight: bold

  #info
    width: 270px

  .pane
    background: $lightGray
    position: absolute
    top: 20%
    width: 275px
    height: 100px
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.5)
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5)
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5)
    border-radius: 5px
    -moz-border-radius: 5px

  #email
    position: absolute
    top: 60px
    left: 0
  #twitter
    position: absolute
    top: 60px
    left: 55px
  #github
    position: absolute
    top: 60px
    left: 120px
  #linkedin
    position: absolute
    top: 60px
    left: 185px

  #left
    left: 30px

  #red
    left: 5px
    z-index: 3
    background: $red
    h2
      text-shadow: 1px 1px 2px rgba(0,0,0,0.5)
      margin-top: 20%

    &:hover
      cursor: pointer
      background: $redHover
    &:active
      background: $redActive

  #orange
    z-index: 2
    background: $orange
    left: 33%
    &:hover
      background: $orangeHover

  #base
    background: $base
    z-index: 1
    right: 5px
    &:hover
      background: $baseHover
