$base: #FAFAC6
$baseHover: #F6F6C3
$orange: #FF4411
$orangeHover: #FE4310
$red: #D40015
$redHover: #da0015
$lightGray: #BAC0AC
$gray: #98A89E

body
  background-color: $gray
  padding: 0
  margin: 0
  height: 100px


  .slider
    position: absolute
    top: 0
    width: 33.333333%
    height: inherit
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
    border-radius: 6px

  h2, a, h3
    color: white
    font-family: 'Helvetica', 'Ariel', 'sans-serif'
    margin-left: 10px

  a
    color: $base
    font-size: 18px
    text-decoration: none
    &:hover
      font-style: bold

  .pane
    position: absolute
    top: 20%
  #left
    left: 30px

  #red
    left: 5px
    z-index: 3
    background: $red
    h2
      margin-top: 20%

    &:hover
      cursor: pointer
      background: $redHover

  #orange
    z-index: 2
    background: $orange
    left: 33%
    &:hover
      background: $orangeHover

  #base
    background: $base
    z-index: 1
    right: 5px
    &:hover
      background: $baseHover
